.row{
    color: aliceblue;
    padding-top: 1px;
    font-size: large;
}
.col-md-6{
    padding: .5em;
    text-align: center;
    
}
.navbar-expand-lg{
    text-align: left;
    margin-left: auto;
    position:fixed;
    top:0;
    width:100%;
        
    
}
.p{
    font-weight: bold;
    color: black;
    
}
